* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: black;
}

ul {
    padding: 0%;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 0;

}

li {
    position: relative;
    float: left;
    background-color: darkgray;
    width: 25%;
    height: 40px;
    text-align: center;
    border: 1px solid white;
}

li:hover {
    background-color: hotpink;
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    }