*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.row{
    width: 100%;
    overflow: hidden;
}

[class*="col-"] {
    float: left;
}

@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
    
}

@media only screen and (min-width: 601px){
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }
}
body{
    background-color: #0d0d0d;
}
header, #inputs {
    text-align: center;
}
header{
    color: #ECEAF1;
}
nav > button {
    display: inline-block;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #566373;
    text-align: center;
    padding: 10px;
}
nav > button:hover{
    text-decoration: underline;
    cursor: pointer;
}

#history {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 5px;
    background-color: rgb(196, 212, 242);;
    /* position: relative; */
}

/* width */
#history::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #history::-webkit-scrollbar-track {
    background: #bfd8dc; 
  }
   
  /* Handle */
  #history::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  #history::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


input[type="submit"] {
    width: 25%;
    height: 22px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #566373;
    color: #ECEAF1;
}
#send {
    height: 43px;
}
#update{
    height: 22px;
}
form{
    overflow: hidden;
}

#message, #username{
    width: 75%;
    outline: none;
}
#message {
    height: 43px;
}
.me {
    float: right;
    clear: both;
    border-radius: 5px 0px 5px 5px;
    background-color: #99AFF2;
}


img {
    position: relative;
    width: 15px;
    float: right;
}

#usernameSPN {
    font-weight: bold;
}

#dateSPN {
    display: table;
    font-size: small;
    color: #595858;
}
.them{
    border-radius: 0px 5px 5px 5px;
    background-color: #F2F2F2;
}

ul {
    padding-left: 10px;
    padding-right: 10px;
}

li {
    width: 51%;
    padding: 3px;
    list-style-type: none;
    overflow: hidden;
    margin: 2px;
}

.selected {
    background-color: #164371;
}

#color_update{
    /* right: 0; */
    height: 32px;
}

#color_pick{
    /* left: 0; */
    width: 75%;
}

input[type*="datetime"]{
    width: 37.50%;
}